nav {
	z-index: 10;
	position: sticky;
	top: 0;
	background-color: #38bdf8;
	overflow: hidden;
	display: flex;
	align-items: center;
	gap: 20px;
	padding-left: 20px;
}

nav ul {
	display: flex;
	flex-direction: row;
	align-items: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav ul li {
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

nav h1 {
	font-size: 24px;
}

nav a {
	float: left;
	display: block;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

nav a.active {
	background-color: #4caf50;
	color: white;
} /*Need to actualy make this class work and fix it*/

main aside {
	padding: 20px;
}

main aside ul button {
	margin-left: 20px;
}

.btnCoveredLessonStyling {
	height: 5rem;
	transition: 500ms;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 16.5rem;
	padding-left: 3.5rem;
	padding-right: 0.5rem;
	overflow: hidden;
	text-align: left;
	position: relative;
	&:hover {
		cursor: pointer;
		transform: translateY(-7px) translateX(7px);
	}
	&::after {
		content: '';
		background-color: red;
		background: linear-gradient(to right top, #38bdf8 50%, transparent 50%);
		clip-path: polygon(0 0, 100% 0, 0 100%);
		height: 100%;
		width: 3rem;
		position: absolute;
		left: 0;
		top: 0;
	}
}
